<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
        <div  style="float : left; WIDTH:48%;">
          
                    <div class="panel panel-primary" id="size_div">
                        <div class="panel-heading">
                                <h3 class="panel-title">Pizza Size</h3>
                        </div>
                            <div class="panel-body">
                                <p id="message"></p>
                                
                              <div class="form-group">
                                      <%= f.label :Size %><br>
                                      <%= f.radio_button("Size", "Small", :value => "Small") %>
                                          <%= label_tag(:Small, "Small") %><br>
                                      <%= f.radio_button("Size", "Medium", :value => "Medium") %>
                                          <%= label_tag(:Medium, "Medium") %><br>
                                      <%= f.radio_button("Size", "Large", :value => "Large") %>
                                          <%= label_tag(:Small, "Large") %><br>
                                      <%= f.radio_button("Size", "Extra Large", :value => "Extra Large") %>
                                          <%= label_tag(:Medium, "Extra Large") %><br>
                              </div>
                            </div>   
                    </div>
                    
                      <div class="panel panel-primary" id="crust_div"  style="float : left; width:48%; height:223px; margin-bottom : 50px; margin-left: 10px;">
                        <div class="panel-heading">
                                <h3 class="panel-title">Pizza Crust</h3>
                        </div>
                            <div class="panel-body">
                                <p id="message"></p>
                                
                              <div class="form-group">
                                      <%= f.label :Crust %><br>
                                      <%= f.radio_button("Crust", "Hand Tosted Crust", :value => "Hand_Tosted_Crust") %>
                                          <%= label_tag(:Hand_Tosted_Crust, "Hand Tosted Crust") %><br>
                                      <%= f.radio_button("Crust", "Crunchy Thin Crust", :value => "Crunchy_Thin_Crust") %>
                                          <%= label_tag(:Crunchy_Thin_Crust, "Crunchy Thin Crust") %><br>
                                      <%= f.radio_button("Crust", "Stuffed Crust", :value => "Stuffed_Crust") %>
                                          <%= label_tag(:Stuffed_Crust, "Stuffed Crust") %>
                                        
                              </div>
                            </div>   
                    </div>
              
                
                     <div class="panel panel-primary" id="toppings_div" style="WIDTH:48%; height:288px; float : left; ">
                        <div class="panel-heading">
                                <h3 class="panel-title">Non Veg Toppings</h3>
                        </div>
                            <div class="panel-body">
                                <p id="message"></p>
                                
                              <div class="form-group">
                                     <%= check_box_tag 'order[Toppings][]', 'Pepperoni', checked('Pepperoni'), id: 'Toppings_Pepperoni' %>
                                     <%= label_tag 'Toppings_Pepperoni', 'Pepperoni' %><br>
                                       
                                     <%= check_box_tag 'order[Toppings][]', 'Bacon', checked('Bacon'), id: 'Toppings_Bacon' %>
                                     <%= label_tag 'Toppings_Bacon', 'Bacon' %><br>
                                      
                                     <%= check_box_tag 'order[Toppings][]', 'Sausage', checked('Sausage'), id: 'Toppings_Sausage' %>
                                     <%= label_tag 'Toppings_Sausage', 'Sausage' %> <br>   
                                                                    
                                     <%= check_box_tag 'order[Toppings][]', 'Chicken', checked('Chicken'), id: 'Toppings_Chicken' %>
                                     <%= label_tag 'Toppings_Chicken', 'Chicken' %><br>
                                                                    
                                     <%= check_box_tag 'order[Toppings][]', 'Beef', checked('Beef'), id: 'Toppings_Beef' %>
                                     <%= label_tag 'Toppings_Beef', 'Beef' %><br>    
                              </div>
                            </div>    
                    </div>
                       <div class="panel panel-primary" id="vegtopping_div">
                        <div class="panel-heading">
                                <h3 class="panel-title">Veg Toppings</h3>
                        </div>
                            <div class="panel-body">
                                <p id="message"></p>
                                
                              <div class="form-group">
                                     <%= check_box_tag 'order[Toppings][]', 'Hot_Banana_Peppers', checked('Hot_Banana_Peppers'), id: 'Toppings_Hot_Banana_Peppers' %>
                                     <%= label_tag 'Toppings_Hot_Banana_Peppers', 'Hot Banana Peppers' %><br>
                                       
                                     <%= check_box_tag 'order[Toppings][]', 'BlackOlives', checked('BlackOlives'), id: 'Toppings_BlackOlives' %>
                                     <%= label_tag 'Toppings_BlackOlives', 'Black Olives' %><br>
                                      
                                     <%= check_box_tag 'order[Toppings][]', 'GreenOlives', checked('GreenOlives'), id: 'Toppings_GreenOlives' %>
                                     <%= label_tag 'Toppings_GreenOlives', 'Green Olives' %> <br>   
                                                                    
                                     <%= check_box_tag 'order[Toppings][]', 'GreenPepper', checked('GreenPepper'), id: 'Toppings_GreenPepper' %>
                                     <%= label_tag 'Toppings_GreenPepper', 'Green Pepper' %><br>
                                                                    
                                     <%= check_box_tag 'order[Toppings][]', 'Mashroom', checked('Mashroom'), id: 'Toppings_Mashroom' %>
                                     <%= label_tag 'Toppings_Mashroom', 'Mashroom' %><br> 
                                     
                                     <%= check_box_tag 'order[Toppings][]', 'Pineapple', checked('Pineapple'), id: 'Toppings_Pineapple' %>
                                     <%= label_tag 'Toppings_Pineapple', 'Pineapple' %><br> 
                                     
                                     <%= check_box_tag 'order[Toppings][]', 'Onion', checked('Onion'), id: 'Toppings_Onion' %>
                                     <%= label_tag 'Toppings_Onion', 'Onion' %><br> 
                              </div>
                            </div>  
                    </div>
                    
                  
       
                 </div>   
              
              
                    <div class="panel panel-primary"  style="float : right; width:48%; height:551px;">
                        <div class="panel-heading">
                                <h3 class="panel-title">Address Information</h3>
                        </div>
                            <div class="panel-body">
                                <p id="message"></p>
                                
                                <div class="form-group">
                                    <%= f.label :Address %><br>
                                    <%= f.text_field :Address %>
                                </div>
                                <div class="form-group">
                                     <%= f.label :City %><br>
                                     <%= f.text_field :City %>
                                </div>
                                
                                <div class="form-group">
                                     <%= f.label :PostalCode %><br>
                                     <%= f.text_field :PostalCode %>
                                </div>
                                <div class="form-group">
                                     <%= f.label :PhoneNumber %><br>
                                     <%= f.text_field :PhoneNumber %>
                                </div>
                                
                                <div class="form-group">
                                     <%= f.label :Province %><br>
                                     <%= f.select(:Province, options_for_select([['Ontario', 'Ontario'] , ['Manitoba' , 'Manitoba'], ['Saskatchewan','Saskatchewan' ], ['Quebec', 'Quebec'] ]))  %>
                                </div>
                              </div>
                              
                        <div> 
                                <%= link_to 'Back', orders_path, :class => 'btn btn-danger' , :style => "margin-top:90px; margin-left:10px; float : left;" %>
                                <div class="actions" style="margin-top:90px; margin-right:10px;  float : right;" >
                                    <%= f.submit :class => 'btn btn-danger' %>
                                </div>
                        </div>
              </div>
         
     <% end %>
     
    
    

